/* BODY */
body{
    background-color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
}
/* HEADER */
header{
    background-color: #FFFFFF;
}
h1{
    height: 33px;
    width: 144px;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}
/* MAIN */
